.bg-color-dark
{color:#fff!important;background-color:#252525!important}
.container-color-dark
{color:#fff!important;background-color:#363945!important}
.hr-color-dark
{color:#fff;background-color:#434345!important}
